@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
:root{

    --cor01:#080F0F;
    --cor02:#EEE5E9;
    --cor03:#2E382E;
    --cor04:#153B50;

    --font01: 'Barlow Condensed';
    --font02: 'Open Sans';
    --font03: 'Roboto', sans-serif;
    --fontTitle: 'Bungee Hairline';
}

/* Telemovel */
@media screen and (max-width:768px) {

    #menu{display: none;}

    #menuIcon{
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }



    picture > img { width: 100%; }


}


/* Tablet e Desktop */
@media screen and (min-width:768px) {
    picture > img { width: 75%; }

    section p { 
        width: 75%;
        margin: auto;
    }

    #menu{
        display: flex;
        font-family: var(--fontTitle);
        font-size: 0.8em;
        justify-content: center;
        text-align: center;

    }
    /* Animação underline no menu */
        #menu li a::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--cor02);
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        #menu li a:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    
    #menu li{
        display: inline-block;
    }
    
    #menuIcon{display: none;}
    
    picture{
        display: block;
        text-align: center;
    }
}