@charset "UTF-8";

@media screen and (max-width:768px){
    
    #vid video {
        width: 100%;
        padding-top: 10px;
    }
}




#sobre{

}

#vid{       
    text-align: center;
}

#vid video {

}

