@charset "UTF-8";

@media screen and (max-width:768px){
    
    #vid{padding-top: 70px;}
    #vid video {
        width: 100%;
    }


}

#sobre{
 
}

#vid{       
    text-align: center;
}

#vid video {

}

