@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
:root{

    --cor01:#080F0F;
    --cor02:#EEE5E9;
    --cor03:#2E382E;
    --cor04:#153B50;

    --font01: 'Barlow Condensed';
    --font02: 'Open Sans';
    --font03: 'Roboto', sans-serif;
    --fontTitle: 'Bungee Hairline';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ---------------------------------------------------------- */

header
{
    position: relative;
    background-color: var(--cor01);
    color: var(--cor02);
    
    background-image: url(../imagens/fundo-menu-oposite.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 40px;
    padding-bottom: 10px;
}

header > h1{
    font-family: 'Bungee Hairline', cursive;
    font-size: 3.5em;
    font-weight: normal;
    text-align: center;
    min-height: 150px;
}

#menu {
    font-family: var(--fontTitle), sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

#menu ul {
    list-style-type: none;
}

#menu li a {
    display: block;
    position: relative;
    color: var(--cor02);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

/* ---------------------------------------------------------- */

body{
    background-color: var(--cor01);
}

main {
    background-color: rgba(124, 133, 133, 0.062);;
    color: var(--cor02);
    margin: auto;
    border-radius: 10px;
    padding-bottom: 5px;
    
}

section h2, p {
    padding: 10px;
}

section h2{ 
    font-family: var(--fontTitle);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

section p{ 
    text-indent: 30px;
    font-family: var(--font03);
    font-size: 1.2em;
    font-weight: normal;
    line-height: 35px;
    text-align: justify;
}

.verMais , #menuIcon{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    color: #9aa0a0;
    max-width: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: .5s;
}

.verMais , #menuIcon:hover{
    color: #d6e0d6;
    transform: scale(1.2);
}

.material-symbols-outlined {
    transition: 0.5s;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 48
  }

.material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 48
}

#btnUp {
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: 0px;
    height: 50px;
    width: 50px;
    opacity: 30%;
    border-radius: 50%;
    color: rgb(145, 183, 255);
    background-color: #080F0F;
    transition: .5s;
    outline: black;
    border-color: black;
}

#btnUp:hover{
    opacity: 100%;
    cursor: pointer;
}

hr{
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(176, 173, 173, 0.75), rgba(105, 105, 105, 0));
}

/* ---------------------------------------------------------- */

footer{
    background-color: var(--cor01);
    color: var(--cor02);

    display: flex;
    flex-flow: column wrap;
    text-align: center;

    font-family: var(--font01);
    font-size: 1.2em;
    height: 150px;
}